:root {
   --font-style: "Nunito Sans", sans-serif;
 }
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;    
}

body{
   margin: 0;
   padding: 0;
   font-family: monospace;
   background-color: #1a1a1a !important;
}

.profile{   
   position: absolute;
   top: 50%;
   left: 50%;   
   padding: 40px;
   transform: translate(-50%, -50%);
   background: #242026;   
   border-radius: 10px;
   text-align: center;   
}

.profile h3{
   color: white;   
}

.profile a{
   text-decoration: none;
   padding: 10px 20px;
   color: #cbbddb;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.5s;
   letter-spacing: 4px;
   border: 1px solid #8f7cec;
   margin: auto;
}
.update-profile{
   position: absolute;
   top: 50%;
   left: 50%;   
   padding: 40px;
   transform: translate(-50%, -50%);
   background: #242026;   
   border-radius: 10px;
   text-align: center; 
}


form span{
   color: white;
}
form a{
   text-decoration: none;
   padding: 10px 20px;
   color: white !important;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.5s;
   letter-spacing: 4px;
   border: 1px solid white !important;
   border-radius: 15px;
   margin: auto;
}
form a:hover {
   background: #8f7cec;
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #8f7cec,
     0 0 100px #8f7cec;
}

#update-btn {
   padding: 10px 20px;
   color: White !important;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.5s;  
   background-color: #242026;
   border: 1px solid white !important;
   border-radius: 15px;
   margin: auto;
}
 
 #update-btn:hover {
   background: #8f7cec;
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #8f7cec,
     0 0 100px #8f7cec;
 }

.navbar-inverse{
   display: hidden !important;
}



 